/*html {
    	background: url("ice_age.png") no-repeat center center fixed;
    	-webkit-background-size: cover;
      	-moz-background-size: cover;
    	-o-background-size: cover;
    	background-size: cover;
    	height: auto;
    	width: auto;
		display: block;
		 
}*/